*
  box-sizing: border-box

html,
body
  margin: 0
  padding: 0

body
  font-size: 50px
  background-image: url('../images/pattern.png')
  position: relative

section
  // Sections divide areas within `header`, `main` and `footer`


article
  // Articles will group like content, and provide a container for layouts.
  font-size: 0
  margin: 0 auto
  max-width: 1482px
  padding: 2rem 0

  & + article
    padding-top: 0



img
  display: block
  max-width: 100%

figure
  margin: 0

  figcaption
    margin: 1em 0 0 0

// Links

a
  color: inherit
  text-decoration: none

  &:hover
    color: $secondary-color

  &:visited
    color: inherit

// Footer

footer
  background: $primary-color
  color: $secondary-color

  .departments
    .department-logo
      a
        display: block
      img
        margin: 0 auto

  .links
    .column
      text-align: center

    ul
      padding: 0
      li
        list-style: none

    h5
      span
        display: inline-block
        padding: 0 1rem 1rem 1rem
        border-bottom: 1px solid $color-white

    .donors
    .officers
    .past-speakers
    .design-credits
    .development-credits
    .misc

  .address
    .column
      text-align: center
      color: $color-pink
