
// Header 

.bh-header
  background-image: url('../images/header.png')
  background-repeat: no-repeat
  background-position: center
  max-width: 100%
  height: 799px

// Intro

.about
  color: $secondary-color
  background-color: $primary-color
  box-shadow: -10px 10px 0 rgba(0,0,0,.5)

  p
    font-size: $type-size-base
    line-height: ($type-size-base * 1.5 )
    padding: 1.5rem 2rem

.when
  text-align: center
  padding-top: 2rem

// Abstract Card

.card
  @extend .background
  background-color: $color-white
  margin-bottom: 35px
  padding: 10rem 2rem 2rem 2rem

  &.orange
    background-color: $color-orange
  &.green
    background-color: $color-green
  &.pink
    background-color: $color-pink

// Speaker Card

.speakers
  .card
    +mobile
      &.mobile-full

// Student Card

.students
  .card
    padding: 5rem 1rem 1rem 1rem
    background-size: 3rem

    &.freshman
      background-color: red
    &.sophomore
      background-color: $color-orange
    &.junior
      background-color: $color-green
    &.senior
      background-color: $color-pink

// Sponsor Card

.sponsors
  .card
    background-image: none
    background-color: $primary-color
    color: $secondary-color
    text-align: center
    padding: 3rem 2rem

// Date Divider
.divider
  color: $color-orange
