.speakers
  .card
    padding: 15rem 2rem 2rem 2rem

    &:hover
      cursor: pointer
      -ms-transform: rotateZ(-3deg)
      transform: rotateZ(-3deg)
      transition: 1s ease

  .speaker
    .name
      color: $primary-color
      font-size: 50px
      font-weight: 700

    .title
      color: $primary-color
      font-size: 25px
      line-height: 20px

    .website
      color: $primary-color
      font-size: 25px
      display: none

    .bio
      display: none

