.speakers
  .card

  .speaker
    .name
      color: $primary-color
      font-size: 40px

    .title
      color: $primary-color
      font-size: 25px

    .website
      color: $primary-color
      font-size: 25px
      display: none

    .bio
      display: none
