.students
  .card
    padding: 5rem 1rem 1rem 1rem
    background-size: 3rem

    &.freshman
      background-color: red
    &.sophomore
      background-color: $color-orange
    &.junior
      background-color: $color-green
    &.senior
      background-color: $color-pink

  .student
    .name
      color: $primary-color
      font-size: 22px
      font-weight: 700

    .year
      color: $primary-color
      font-size: 14px

    .website
      color: $primary-color
      font-size: 14px
      a
        display: inline-block
        max-width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
